<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #map{
            height: 400px;
            width: 100%;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    {% include 'navbar.html'%}
    {% load static %}
    <h1>Driver's page</h1>
    <br>

    <h2>My Google Map</h2>
    <br>
    <div id="map"></div>
    {% load static %}
    <script src="{% static 'driver/js/driverLoc.js' %}" ></script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRO_Mf5n9UDT1fS902Dq38N6Cl5fV9SkM&callback=initMap">
    </script>
</body>
</html>